{% extends 'base.html' %}
{% block content %}

<div class="container my-5" style="max-width: 400px;">
    <div class="card shadow">
        <div class="card-body">
            <h2 class="card-title text-center mb-4">Doctor Login</h2>

            <form method="POST">
                <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input name="username" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" required>
                </div>

                <button type="submit" class="btn btn-primary w-100">Login</button>
            </form>
             <div class="text-center mt-3">
        <small>Don't have an account? <a href="/doctor/signup">Create one</a></small>
      </div>
        </div>
    </div>
</div>

{% endblock %}
