{% extends 'admin_dashboard/sidebar_admin.html' %}
{% block dashboard_content  %}

<div class="container" style="max-width: 500px;">
  <h3 class="mb-4">Change Admin Password</h3>

  {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
  {% endif %}
  {% if success %}
    <div class="alert alert-success">{{ success }}</div>
  {% endif %}

  <form method="POST">
    <div class="mb-3">
      <label>Old Password</label>
      <input type="password" name="old_password" class="form-control" required>
    </div>
    <div class="mb-3">
      <label>New Password</label>
      <input type="password" name="new_password" class="form-control" required>
    </div>
    <div class="mb-3">
      <label>Confirm New Password</label>
      <input type="password" name="confirm_password" class="form-control" required>
    </div>
    <div class="mb-3">
      <label>Change Username (Optional)</label>
      <input type="text" name="username" class="form-control">
    </div>
    <button type="submit" class="btn btn-success w-100">Update</button>
  </form>
</div>

{% endblock %}
