{% extends "base.html" %}
{% block content %}
  
<section class="text-white text-center position-relative w-100" style="background-image: url('/static/images/Clinical-Psychologists.jpg'); background-size: contain; background-repeat: no-repeat; background-position: center; height: 100vh;">
  <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark bg-opacity-50 d-flex flex-column justify-content-center align-items-center px-3">
    <h1 class="display-4 fw-bold">Talk to Someone, Talk to Therapist today!</h1>
    <h4 class="mt-4">TalktoAngel offers you affordable, confidential</h4>
    <h4 class="mb-4">and solution-oriented online counselling & online therapy.</h4>
  </div>
</section>



<section class="bg-white text-success px-5 py-5 w-100 ">
  <div class="container-fluid">

    <!-- Top Center Heading -->
    <h2 class="text-center mb-5">Online Counselling We Offer</h2>

    <div class="row row-cols-1 row-cols-md-4 g-4">
      
      <!-- Column 1 -->
      <div class="col">
        <div class="text-center">
          <h5 class="bg-white text-success py-2">Individual Counselling</h5>
          <img src="/static/images/individual.jpg" class="img-fluid mb-3" alt="Individual Counselling" style="height:150px;">
          <h6 class="text-success">Individual Online Counselling</h6>
          <a href="#" class="btn btn-danger mt-2">Get Started</a>
        </div>
      </div>

      <!-- Column 2 -->
      <div class="col">
        <div class="text-center">
          <h5 class="bg-white text-success py-2">Couple Counselling</h5>
          <img src="/static/images/couple.jpg" class="img-fluid mb-3" alt="Couple Counselling" style="height:150px;">
          <h6 class="text-success">Online Therapy for Couples</h6>
          <a href="#" class="btn btn-danger mt-2">Get Started</a>
        </div>
      </div>

      <!-- Column 3 -->
      <div class="col">
        <div class="text-center">
          <h5 class="bg-white text-success py-2">Online Psychiatric Consultation</h5>
          <img src="/static/images/Online-psychiatric.jpg" class="img-fluid mb-3" alt="Online psychiatric consultation" style="height:150px;">
          <h6 class="text-success">Medication Management</h6>
          <a href="#" class="btn btn-danger mt-2">Get Started</a>
        </div>
      </div>

      <!-- Column 4 -->
      <div class="col">
        <div class="text-center">
          <h5 class="bg-white text-success py-2">Corporate Wellness Program</h5>
          <img src="/static/images/Corporate.jpg" class="img-fluid mb-3" alt="Corporate wellness" style="height:150px;">
          <h6 class="text-success">Employee Assistance Program (EAP)</h6>
          <a href="#" class="btn btn-danger mt-2">Get Started</a>
        </div>
      </div>

    </div>
  </div>
</section>






<section class="bg-white text-success px-5 py-5 w-100">
  <div class="container-fluid">

    <!-- Centered Top Heading -->
    <h2 class="text-center mb-5">Area of Expertise</h2>

    <div class="row row-cols-1 row-cols-md-3 g-4">

      <!-- Box 1 -->
      <div class="col text-center">
        <h5 class="text-success">Anxiety</h5>
        <img src="/static/images/Anxiety.jpg" class="img-fluid" alt="Anxiety" style="width:200px; height:150px;">
      </div>

      <!-- Box 2 -->
      <div class="col text-center">
        <h5 class="text-success">Depression</h5>
        <img src="/static/images/Depression.jpg" class="img-fluid" alt="Depression" style="width:200px; height:150px;">
      </div>

      <!-- Box 3 -->
      <div class="col text-center">
        <h5 class="text-success">Relationship</h5>
        <img src="/static/images/relationship.png" class="img-fluid" alt="Relationship" style="width:200px; height:150px;">
      </div>

      <!-- Box 4 -->
      <div class="col text-center">
        <h5 class="text-success">Stress</h5>
        <img src="/static/images/stress.jpg" class="img-fluid" alt="Stress" style="width:200px; height:150px;">
      </div>

      <!-- Box 5 -->
      <div class="col text-center">
        <h5 class="text-success">Addiction</h5>
        <img src="/static/images/addiction.jpg" class="img-fluid" alt="Addiction" style="width:200px; height:150px;">
      </div>

      <!-- Box 6 -->
      <div class="col text-center">
        <h5 class="text-success">Ocd</h5>
        <img src="/static/images/Ocd.jpg" class="img-fluid" alt="Ocd" style="width:200px; height:150px;">
      </div>

    </div>
  </div>

  <p class="text-center text-dark p-5 fw-bold ">People experiencing mental health difficulties typically feel uncomfortable. Either they are not in control of their thoughts, emotions and feelings, or they display certain psychological and behavioural symptoms. We at TalktoAngel take note of your concerns and work on the specific areas that is important for your well-being. With the team of Best Psychologists in India, we offer Online Counselling in above areas and help you lead your life more effectively.</p>
</section>

<section>

  <h1>Test github ahsan</h1>

</section>



{% endblock %}


