{% extends "base.html" %}
{% block content %}
  
<section class="text-white text-center position-relative w-100" style="background-image: url('/static/images/Clinical-Psychologists.jpg'); background-size: contain; background-repeat: no-repeat; background-position: center; height: 100vh;">
  <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark bg-opacity-50 d-flex flex-column justify-content-center align-items-center px-3">
    <h1 class="display-4 fw-bold">Talk to Psychologist, Talk to Therapist today!</h1>
    <h4 class="mt-4">Psychologist Pakistan offers you affordable, confidential</h4>
    <h4 class="mb-4">and solution-oriented online counselling & online therapy.</h4>
  </div>
</section>



<section class="bg-white text-success px-5 py-5 w-100 ">
  <div class="container-fluid">

    <!-- Top Center Heading -->
    <h2 class="text-center mb-5">Online Counselling We Offer</h2>

    <div class="row row-cols-1 row-cols-md-3 g-4">
      
      <!-- Column 1 -->
     <div class="col">
  <div class="text-center">
    <a href="/doctor">
      <img src="/static/images/individual.jpg" class="img-fluid mb-3" alt="Individual Counselling" style="height:200px; width:300px; border-radius:10px; border: 2px solid #198754;">
    </a>
    <h6 class="text-success">Individual Counselling</h6>
  </div>
</div>

      <!-- Column 2 -->
      <div class="col">
        <div class="text-center">
           <a href="/doctor">
          <img src="/static/images/couple.jpg" class="img-fluid mb-3" alt="Couple Counselling" style="height:200px; width:300px; border-radius:10px; border: 2px solid #198754;">
           </a>
          <h6 class="text-success">Couple Counselling</h6>
        </div>
      </div>

     

      <!-- Column 3 -->
      <div class="col">
        <div class="text-center">
           <a href="/doctor">
          <img src="/static/images/Corporate.jpg" class="img-fluid mb-3" alt="Corporate wellness" style="height:200px; width:300px; border-radius:10px; border: 2px solid #198754;">
           </a>
          <h6 class="text-success">Employee Assistance Program (EAP)</h6>
        </div>
      </div>


        <div class="col">
        <div class="text-center">
           <a href="/doctor">
          <img src="/static/images/teen.jpg" class="img-fluid mb-3" alt="Corporate wellness" style="height:200px; width:300px; border-radius:10px; border: 2px solid #198754;">
           </a>
          <h6 class="text-success">Teen Therapy</h6>
        </div>
      </div>

        <div class="col">
        <div class="text-center">
           <a href="/doctor">
          <img src="/static/images/kids.jpg" class="img-fluid mb-3" alt="Corporate wellness" style="height:200px; width:300px; border-radius:10px; border: 2px solid #198754;">
           </a>
          <h6 class="text-success">Kids Therapy</h6>
        </div>
      </div>

        <div class="col">
        <div class="text-center">
           <a href="/doctor">
          <img src="/static/images/elder.png" class="img-fluid mb-3" alt="Corporate wellness" style="height:200px; width:300px; border-radius:10px; border: 2px solid #198754;">
           </a>
          <h6 class="text-success">Elder Care</h6>
        </div>
      </div>

    </div>
  </div>
</section>






<section class="bg-white text-success px-5 py-5 w-100">
  <div class="container-fluid">

    <!-- Centered Top Heading -->
    <h2 class="text-center mb-5">Area of Expertise</h2>

    <div class="row row-cols-1 row-cols-md-3 g-4">

   <!-- Box 1 -->
  <div class="col text-center">
    <a href="/area-of-expertise/anxiety" style="text-decoration: none;">
      <h5 class="text-success">Anxiety</h5>
      <img src="/static/images/aniexty.jpg" class="img-fluid" alt="Anxiety" style="width:200px; height:150px; border-radius:10px; border:2px solid #198754;">
    </a>
  </div>


      <!-- Box 2 -->
      <div class="col text-center">
            <a href="/area-of-expertise/depression" style="text-decoration: none;">
        <h5 class="text-success">Depression</h5>
        <img src="/static/images/Depression.jpg" class="img-fluid" alt="Depression" style="width:200px; height:150px; border-radius:10px; border:2px solid #198754;">
            </a>
      </div>

      <!-- Box 3 -->
      <div class="col text-center">
            <a href="/area-of-expertise/relationship" style="text-decoration: none;">
        <h5 class="text-success">Relationship</h5>
        <img src="/static/images/relationship.png" class="img-fluid" alt="Relationship" style="width:200px; height:150px; border-radius:10px; border:2px solid #198754;">
            </a>
      </div>

      <!-- Box 4 -->
      <div class="col text-center">
            <a href="/area-of-expertise/stress" style="text-decoration: none;">
        <h5 class="text-success">Stress</h5>
        <img src="/static/images/stress.jpg" class="img-fluid" alt="Stress" style="width:200px; height:150px; border-radius:10px; border:2px solid #198754;">
            </a>
      </div>

      <!-- Box 5 -->
      <div class="col text-center">
            <a href="/area-of-expertise/addiction" style="text-decoration: none;">
        <h5 class="text-success">Addiction</h5>
        <img src="/static/images/addiction.jpg" class="img-fluid" alt="Addiction" style="width:200px; height:150px; border-radius:10px; border:2px solid #198754;">
            </a>
      </div>

      <!-- Box 6 -->
      <div class="col text-center">
            <a href="/area-of-expertise/ocd" style="text-decoration: none;">
        <h5 class="text-success">Ocd</h5>
        <img src="/static/images/ocd.jpg" class="img-fluid" alt="Ocd" style="width:200px; height:150px; border-radius:10px; border:2px solid #198754;">
            </a>
      </div>

    </div>
  </div>

  <p class="text-center text-dark p-5 fw-bold ">People experiencing mental health difficulties typically feel uncomfortable. Either they are not in control of their thoughts, emotions and feelings, or they display certain psychological and behavioural symptoms. We at Psychologist Pakistan take note of your concerns and work on the specific areas that is important for your well-being. With the team of Best Psychologists in Pakistan, we offer Online Counselling in above areas and help you lead your life more effectively.</p>
</section>


{% endblock %}


